<div class="contrainer">
  <div class="row">
    <div *ngFor="let product of products;let i = index" class="col-lg-3 col-md-4 col-sm-6 card">
      <div class="close-btn">
        <button type="button" class="close" aria-label="Close" (click)="clickMethod(product.id,product.name)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h5 class="card-title"> {{i+1}}.) {{product.name}}</h5>
          </li>
          <li class="list-group-item">Price: {{product.price}}</li>
          <li class="list-group-item">Detail: {{product.detail}}</li>
          <li class="list-group-item">
            <button class="btn btn-outline-success my-2 my-sm-0" (click)="editProduct(product);" data-toggle="modal"
              data-target="#exampleModal">Edit</button>


            <!-- <button class="btn btn-outline-success my-2 my-sm-0" data-toggle="modal"
              data-target="#exampleModal">Edit</button> -->
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
<div class="modal" role="dialog" [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" (click)="onCloseHandled()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-inline my-2 my-lg-0" [formGroup]="form">
          <input type="hidden" value="{{product.id}}" formControlName="id">
          <input class="form-control mr-sm-2" type="text" placeholder="name" value="{{product.name}}"
            formControlName="name">
          <input class="form-control mr-sm-2" type="number" placeholder="price" value="{{product.price}}"
            formControlName="price">
          <input class="form-control mr-sm-2" type="text" placeholder="detail" value="{{product.detail}}"
            formControlName="detail">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="saveProduct();">Save changes</button>
        <button type="button" class="btn btn-secondary" (click)="onCloseHandled()">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal !-->
