<!-- Modal -->
<div class="modal fade" id="exampleModal" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="name" aria-label="name" [(ngModel)]="name">
          <input class="form-control mr-sm-2" type="number" placeholder="price" aria-label="price" [(ngModel)]="price">
          <input class="form-control mr-sm-2" type="text" placeholder="detail" aria-label="detail" [(ngModel)]="detail">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
