.fa-1x {
  font-size: 1.5rem;
}

.navbar-toggler.toggler-example {
  cursor: pointer;
}

.dark-blue-text {
  color: #0a38f5;
}

.dark-pink-text {
  color: #ac003a;
}

.dark-amber-text {
  color: #ff6f00;
}

.dark-teal-text {
  color: #004d40;
}

.light-blue.lighten-4 {
  background-color: #e1f5ff !important;
}

.navbar-bottom {
  padding: 16px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
