<!--Navbar-->
<nav class="navbar navbar-light navbar-1 light-blue lighten-4 ">

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent15"
    aria-controls="navbarSupportedContent15" aria-expanded="false" aria-label="Toggle navigation"><span
      class="navbar-toggler-icon"></span></button>
  <!-- Navbar brand -->
  <!-- <app-searchbar></app-searchbar> -->


  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent15">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/product">Product </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/branch">Branch <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Inventory</a>
      </li>
    </ul>
    <!-- Links -->

  </div>
  <!-- Collapsible content -->

</nav>
<!--/.Navbar-->
<br />
<h1> Branch</h1>
<br />
<!-- <app-product-edit #productEdit></app-product-edit> -->
<br />
<br />
<nav class=" navbar navbar-light navbar-1 light-blue lighten-4 navbar-bottom">
</nav>
