<form class="form-inline my-2 my-lg-0" [formGroup]="form">
  <input class="form-control mr-sm-2" type="string" placeholder="name" aria-label="name" formControlName="name">
  <input class="form-control mr-sm-2" type="number" placeholder="price" aria-label="price" formControlName="price">
  <input class="form-control mr-sm-2" type="string" placeholder="detail" aria-label="detail" formControlName="detail">
  <button class="btn btn-outline-success " type="button" (click)="addProduct();">Add</button>
</form>
